<mat-form-field [floatLabel]="'always'">
  <mat-label>{{label}}</mat-label>

  <mat-select #select [placeholder]="placeholder" [formControl]="selectCtrl" [multiple]="isMultiple"
    triggerValue="Select" [disableOptionCentering]="true" #select [multiple]="true" name="form_value">

    <div>

      
        <app-search [formControl]="selectFilterCtrl" [placeholderLabel]="'Search'"
          [noEntriesFoundLabel]="'No match found'"></app-search>
      
            <mat-checkbox #allSelected class="mat-option" [formControl]="selectCtrl" [indeterminate]="isIndeterminate()"
            [checked]="isChecked()" id="select_all" (click)="$event.stopPropagation()" (change)="toggleAllSelection($event)">
            Select All
          </mat-checkbox>
     

      <mat-option *ngFor="let option of filteredoptions" [value]="option[id]">
        {{option[displayName]}}
      </mat-option>
    </div>
    <div>
      <button mat-button (click)="clearOptions()">Clear</button>
      <button mat-button (click)="submitOptions()">Submit</button>

    </div>
  </mat-select>
</mat-form-field>