<mat-form-field [floatLabel]="'always'">
  <mat-label>{{label}}</mat-label>

  <mat-select #select [placeholder]="placeholder" [formControl]="selectCtrl" [multiple]="isMultiple"
    triggerValue="Select" [disableOptionCentering]="true" #select [multiple]="true" name="form_value">

    <div class="options-container">

      <mat-option>
        <ngx-mat-select-search [formControl]="selectFilterCtrl" [placeholderLabel]="'Search'"
          [noEntriesFoundLabel]="'No match found'"></ngx-mat-select-search>
      </mat-option>
      <!-- <nitrozen-select-check-all *ngIf="isMultiple" [text]="''" [model]="selectCtrl" [values]="options" (change)="selectAllChanged($event)">
      </nitrozen-select-check-all> -->

      <mat-checkbox class="mat-option" [formControl]="selectCtrl" [indeterminate]="isIndeterminate()"
        [checked]="isChecked()" (click)="$event.stopPropagation()" (change)="toggleSelection($event)">
        Select All
      </mat-checkbox>

      <mat-option *ngFor="let option of filteredoptions" [value]="option[id]">
        {{option[displayName]}}
      </mat-option>
    </div>
    <div class="select-action-container">
      <button mat-button (click)="clearOptions()">Clear</button>
      <button mat-button (click)="submitOptions()">Submit</button>

    </div>
  </mat-select>
</mat-form-field>